@use 'base/breakpoints';
@use 'base/colors';

.dev-log-list {
  padding: 6rem 2rem 2rem;

  @media screen and (min-width: breakpoints.$tablet) {
    padding: 6rem 6rem 2rem;
  }

  @media screen and (min-width: breakpoints.$desktop) {
    padding: 6rem 10rem 2rem;
  }

  @media screen and (min-width: breakpoints.$desktop-wide) {
    padding: 6rem 0 2rem;
  }
}

.dev-log-list-item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border: 1px solid rgba(white, .2);
  border-radius: .4rem;
  transition: background-color .2s ease;

  @media screen and (min-width: breakpoints.$phone-lg) {
    flex-direction: row;
  }

  &:hover {
    background-color: colors.$black-2;
  }

  .item-body {
    @media screen and (min-width: breakpoints.$phone-lg) {
      padding-left: 2rem;
    }
  }

  img {
    width: 100%;
    height: auto;

    @media screen and (min-width: breakpoints.$phone-lg) {
      min-width: 20rem;
      max-width: 20rem;
    }

    @media screen and (min-width: breakpoints.$tablet-lg) {
      max-width: 22rem;
    }

    @media screen and (min-width: breakpoints.$desktop-lg) {
      max-width: 24rem;
    }
  }

  .item-title {
    margin-top: 1.2rem;
    font-size: 2rem;
    line-height: 2.6rem;
    font-weight: 600;
    text-transform: uppercase;

    @media screen and (min-width: breakpoints.$phone-lg) {
      margin-top: 0;
    }

    @media screen and (min-width: breakpoints.$tablet-lg) {
      font-size: 2.2rem;
      line-height: 2.8rem;
    }

    @media screen and (min-width: breakpoints.$desktop-lg) {
      font-size: 2.4rem;
      line-height: 3rem;
    }
  }

  .item-date {
    margin-top: 0;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;
  }

  .item-blurb {
    font-size: 1rem;
    line-height: 1.6rem;

    @media screen and (min-width: breakpoints.$tablet) {
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  }
}
