@use 'base/colors';

header {
  top: 0;
  left: 0;
  height: 4.6rem;
  width: 100%;
  padding: .3rem 3rem;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: colors.$black-2;
  z-index: 99;

  a.header-item {
    padding: 0 2.4rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: .3rem;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    transition: transform 0.2s ease;

    &:first-child {
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: .3rem;
        width: 1.4rem;
        height: 0;
        border: 1px solid transparent;
        transform: translateY(-50%);
        transition: border-color 0.2s ease;
      }

      &:hover {
        transform: translateX(-2rem);

        &:after {
          border-color: white;
        }
      }
    }

    &:last-child {
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: .1rem;
        width: 1.4rem;
        height: 0;
        border: 1px solid transparent;
        transform: translateY(-50%);
        transition: border-color .2s ease;
      }

      &:hover {
        transform: translateX(2rem);

        &:after {
          border-color: white;
        }
      }
    }
  }

  .header-logo {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      padding: 0;
      text-decoration: none;
      font-weight: 500;
      font-size: 2.2rem;
      letter-spacing: .5rem;
      text-transform: uppercase;
      text-shadow: 2px 2px 2px colors.$grey-1;

      @media (hover: hover) and (pointer: fine) {
        transition: text-shadow .3s ease;
        
        &:hover {
          text-shadow: 2px 2px 2px colors.$blue-1;
        }
      }
    }
  }
}
