@use 'base/breakpoints';
@use 'base/colors';

.history-list-item {
  margin: 4rem auto 0;
  padding: 3rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: colors.$black-1;

  @media screen and (min-width: breakpoints.$tablet-lg) {
    padding: 0;
    flex-direction: row-reverse;
    background-color: transparent;
  }

  &:first-child {
    margin-top: 0;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 9px;
    height: 9px;
    border: 1px solid #4E4E4E;
    border-radius: 5px;
    background: #1F202D;
    transform: translateX(-5px);
  }

  &:nth-child(even) {
    @media screen and (min-width: breakpoints.$tablet-lg) {
      flex-direction: row;
    }

    .item-head {
      align-items: flex-end;

      @media screen and (min-width: breakpoints.$tablet-lg) {
        padding-left: 0;
      }

      @media screen and (min-width: breakpoints.$desktop-wide) {
        padding-left: 8rem;
      }

      .item-date {
        &:before {
          top: 3px;
          left: 50%;
          border-left: 1px solid #4E4E4E;
          border-right: 1px solid #1F202D;
          transform: translateX(-46px);
        }
      }

      .item-title, .item-blurb {
        text-align: right;
      }
    }
    
    .item-body {
      @media screen and (min-width: breakpoints.$tablet-lg) {
        padding-right: 0;
      }

      @media screen and (min-width: breakpoints.$desktop-wide) {
        padding-right: 8rem;
      }
    }
  }

  &:nth-child(odd) {
    .item-head {
      @media screen and (min-width: breakpoints.$tablet-lg) {
        padding-right: 0;
      }

      @media screen and (min-width: breakpoints.$desktop-wide) {
        padding-right: 8rem;
      }
    }
    
    .item-body {
      @media screen and (min-width: breakpoints.$tablet-lg) {
        padding-left: 0;
      }

      @media screen and (min-width: breakpoints.$desktop-wide) {
        padding-left: 8rem;
      }
    }
  }

  .item-head, .item-body {
    width: 100%;
    padding: 0 1.4rem;
    display: flex;

    @media screen and (min-width: breakpoints.$phone) {
      padding: 0 4rem;
    }

    @media screen and (min-width: breakpoints.$tablet-lg) {
      width: 50%;
      padding: 0 4rem;
    }
  }

  .item-head {
    align-items: flex-start;
    flex-direction: column;

    .item-date {
      font-size: 0.8rem;
      font-weight: 500;

      @media screen and (min-width: breakpoints.$tablet-lg) {
        &:before {
          content: '';
          height: 3px;
          width: 40px;
          position: absolute;
          border: 1px solid #4E4E4E;
          border-left: 1px solid #1F202D;
          top: 3px;
          left: calc(50% + 4px);
        }
      }
    }

    .item-title {
      font-size: 1.4rem;
      line-height: 1.6rem;
      margin-top: 1.2rem;
      font-weight: 600;
      text-transform: uppercase;

      @media screen and (min-width: breakpoints.$tablet-lg) {
        font-size: 1.6rem;
        line-height: 1.8rem;
      }

      @media screen and (min-width: breakpoints.$desktop-lg) {
        font-size: 1.8rem;
        line-height: 2rem;
      }
    }

    .item-subtitle {
      font-size: 0.8rem;
      margin-top: 0.4rem;
      color: rgb(199, 199, 199);
    }

    .item-blurb {
      font-size: 0.6rem;
      line-height: 1rem;
      margin-top: 1.4rem;
      color: rgb(199, 199, 199);

      @media screen and (min-width: breakpoints.$tablet-lg) {
        font-size: 0.8rem;
        line-height: 1.2rem;
      }

      span.bold {
        color: rgb(199, 199, 199);
        font-weight: bold;
      }
    }

    .next-image {
      margin-top: 1rem;
      box-shadow: .3rem .3rem .5rem 0 rgba(white, .3);
    }
  }

  .item-body { 
    margin-top: 1rem;
    flex-direction: column;

    @media screen and (min-width: breakpoints.$tablet-lg) {
      margin-top: 2rem;
    }
    
    p {
      font-size: 0.7rem;
      line-height: 1.1rem;

      @media screen and (min-width: breakpoints.$tablet-lg) {
        font-size: 0.8rem;
        line-height: 1.2rem;
      }

      span {
        &#blitzcrank {
          color: #d6bf2b;
        }

        &#thresh {
          color: #4dd18d;
        }

        &#earthshaker {
          color: #977a55;
        }

        &#battle-mage {
          color: #fb7272;
        }

        &#dawn-warrior {
          color: #fde440;
        }

        &#terran {
          color: #6b97e2;
        }

        &.shadow {
          text-shadow: 1px 1px white;
        }
      }
    }
  }
}
