@use 'base/breakpoints';

section {
  position: relative;
  overflow: hidden;

  @media screen and (min-width: breakpoints.$tablet-lg) {
    padding: 0 4rem;
  }

  .timeline {
    &:after {
      height: 100%;
      position: absolute;
      bottom: 0;
      left: calc(50% - 1px);
      content: '';
      border-right: 1px solid #4E4E4E;
    }

    &.start {
      height: 6rem;
      width: 100%;
      bottom: 0;
      left: 0;
      position: absolute;
      display: flex;
      justify-content: center;
      z-index: 10;
  
      &:after {
        height: 4rem;
      }
  
      p {
        text-transform: uppercase;
      }
    }
  }
}
