section {
  position: relative;

  &.full-height {
    height: calc(100vh - 2rem);
  }

  .section-banner {
    height: 40rem;
    position: relative;
  }

  #top {
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;

    > div {
      
      padding-left: 12rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &.fade-in-right {
        padding-left: 0rem;
        padding-right: 12rem;

        h1 {
          text-align: right;
        }

        p {
          padding-left: 0;
          padding-right: 1.6rem;
          text-align: right;

          &:after {
            left: auto;
            right: 0;
            background-color: white;
          }
        }
      }

      &.center {
        width: 50%;
        padding-left: 0;
        padding-right: 0;
      }

      h1 {
        text-align: left;
      }

      p {
        width: auto;
        margin-top: 0.6rem;
        padding-left: 1.6rem;
        text-align: left;
        position: relative;

        &:after {
          content: "";
          height: 1px;
          width: 1rem;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          background-color: white;
        }
      }
    }
    
    img {
      width: auto;
      height: 100%;
      margin: auto;
      overflow: hidden;
    }
  }

  .timeline {
    &:after {
      height: 100%;
      position: absolute;
      bottom: 0;
      left: calc(50% - 1px);
      content: '';
      border-right: 1px solid #4E4E4E;
    }

    &.start {
      height: 6rem;
      width: 100%;
      bottom: 0;
      position: absolute;
      display: flex;
      justify-content: center;
  
      &:after {
        height: 4rem;
      }
  
      p {
        text-transform: uppercase;
      }
    }
  }
}
